<% content_for :title, @trip.name %>

<script type="text/javascript">
  window.routes = <%= @stats[:routes].to_json.html_safe %>;
  window.airports = <%= @stats[:airports].to_json.html_safe %>;
</script>

<ol class="breadcrumb">
  <li><%= link_to @user.display_name, map_path %></li>
  <li><%= link_to "Trips", trips_path %></li>
  <li><%= @trip.name %></li>
</ol>

<div class="h1 trip-name"><%= @trip.name %> <div class="dates"><%= format_date @trip.begin_date %> - <%= format_date @trip.end_date %></div></div>

<div class="row stats vertical">
  <div class="col-xs-12 col-md-4">
    <%= render partial: "shared/stat_boxes", locals: { stats: @stats[:totals] } %>
  </div>
  <div class="col-xs-12 col-md-8">
    <div id="map-canvas" class="routes-map"></div>
  </div>
</div>

<div class="trip-flights">
  <%= render partial: "shared/flights_slim", locals: { flights: @trip.flights } %>
</div>

<% if @show_controls %>
  <div class="flight-buttons">
    <%= link_to t('actions.add_flight'), new_flight_path('flight[trip_id]' => @trip.id), class: 'btn btn-success' %>
  </div>
<% end %>

<% if @show_controls %>
  <%= link_to 'Edit', edit_trip_path(@trip) %>
<% end %>
