div.container.flight-board
  - flights.each do |f|
    div.flight.row data-click-url=(flight_path(f) rescue nil) class=f.css_classes
      div.col-md-2.col-sm-3.col-xs-6
        - if @batch_editing
          div.batch_edit_mark_container
            input.batch_edit_mark type="checkbox" name="flight[update]" value=f.id
        div.airline_logo= airline_logo f.airline
        div.flight_code_and_date
          div.flight_code #{f.airline_code} #{f.flight_number}
          div.depart_date= l f.depart_date, format: :medium
      div.col-md-2.col-sm-2.col-xs-6
        div.from_to
          | #{f.depart_airport} &#x2708; #{f.arrive_airport}
          - if f.private?
            i.fa.fa-lock< title=t('messages.private_flight')
        div.times
          | #{format_time(f.depart_time)} - #{format_time(f.arrive_time)}
          span.arrival_offset= f.arrive_time_offset
      div.col-md-1.col-sm-2.col-xs-6
        div.distance= format_distance f.distance
        div.duration= format_duration f.duration
      div.col-md-2.col-sm-2.col-xs-6.truncate
        div.airline= f.airline_name
        div.aircraft= f.aircraft_type
      div.col-md-2.col-sm-2.col-xs-6
        div.seat_info
          = f.seat_class_label
