div.flight-list
  - flights.each do |f|
    div.flight data-click-url=flight_path(f)
      div.col1
        div.airline_logo= airline_logo f.airline
        div.flight_code_and_date
          div.flight_code
            span.airline_code= f.airline_code
            span.flight_number= f.flight_number
          div.depart_date= l f.depart_date, format: :medium
      div.col2
        div
          span.cities #{f.depart_city} &#x2708; #{f.arrive_city}
          | &middot;
          span.airports #{f.depart_airport} - #{f.arrive_airport}
        div
          span.times
            | #{format_time(f.depart_time)} - #{format_time(f.arrive_time)}
            span.arrival_offset= f.arrive_time_offset
          span.duration= format_duration f.duration
          - if f.time_change != 0
            span.time_change title=time_change_desc(f)
              i.fa.fa-clock-o
              = time_change_desc f, "short"
        div.airline_and_aircraft.dot-separated
          - unless f.airline_name.blank?
            span= f.airline_name
          - unless f.aircraft_type.blank?
            span= f.aircraft_type
          - unless f.distance.nil?
            span= format_distance f.distance
      div.col3
        span.seat_class class=((f.seat_class || "").downcase.underscore) = f.seat_class
        div.seat #{f.seat} #{f.seat_location}
