<div class="tiny-flights">
  <% flights.each do |f| %>
    <div class="flight" data-click-url="<%= flight_path(f) %>">

      <div class="from_to"><%= f.depart_airport %> &#x2708; <%= f.arrive_airport %></div>

      <div class="row1">
        <div class="airline_logo"><%= image_tag f.airline.logo.url(:medium) %></div>
        <div class="flight_code_and_date">
          <div class="flight_code"><%= f.airline_code %> <%= f.flight_number %></div>
          <div class="depart_date"><%= l f.depart_date, format: :medium %></div>
        </div>
      </div>

      <div class="row2">
        <div class="times">
          <%= format_time(f.depart_time) %> - <%= format_time(f.arrive_time) %><span class="arrival_offset"><%= f.arrive_time_offset %></span>
        </div>
        <div class="misc_description truncate">
          <%= f.seat_class %> on <%= f.airline_name %>
        </div>
      </div>

    </div>
  <% end %>
</div>
