%div.container
  %div.links
    %span= link_to "Home", root_path
    %span= link_to "About", about_path
    %span= link_to "GitHub", "https://github.com/mroach/myflightmap"
    %span= mail_to "info@myflightmap.com", "Contact"
