%div.container
  %ul.nav.navbar-nav
    %li= link_to "Home", root_path
    %li= link_to "About", about_path
    %li= link_to "GitHub", "https://github.com/mroach/myflightmap"
    %li= mail_to "info@myflightmap.com", "Contact"
