<div class="container">
  <%= simple_form_for(@airport, html: { class: 'form-horizontal' }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :iata_code %>
      <%= f.input :name %>
      <%= f.input :city %>
      <%= f.input :country %>
      <%= f.input :latitude %>
      <%= f.input :longitude %>
      <%= f.input :timezone, collection: @timezones %>
      <%= f.input :description %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>
