<% content_for :title, "#{@airline.iata_code} #{@airline.name}" %>

<div class="row">
  <div class="col-sm-8">
    <h1>
      <%= image_tag @airline.logo.url(:medium) %>
      <span><%= @airline.name %></span>
      <%= image_tag("alliances/medium/#{@airline.alliance}.png") if @airline.in_alliance? %>
    </h1>
  </div>
  <div class="col-sm-4">
    <div class="airline-badge">
      <%= flag_image @airline.country, "64" %>
      <span class="code"><%= @airline.iata_code%></span>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_airline_path(@airline) %>
