.airport-badge {
  background: #ccc;
  width: auto;
  display: inline-block;
  padding: .2em .5em;
  margin: .5em;

  .code { font-size: 4em; font-weight: bold; vertical-align: middle; line-height: 1; }
  img { margin-right: .5em; }
}

#map-canvas.airport-location-map {
  width: 100%;
  height: 500px;

  img { max-width: none; }
}

table.airports {
  td .code { width: 3em; display: inline-block; }
}
