.flight-board {

  /* dark theme
  color: white;
  background-color: #252525;
  & > tr:nth-child(odd) > td { background-color: #333 }
  */

  /* light theme */
  color: black;
  & > tr:nth-child(odd) > td { background-color: #fff }

  & > tr { height: 50px }
  & > tr > th{ padding: .1em .3em }
  & > tr > td { padding: .3em}

  div[class^="col-"] { padding: 0 3px }

  .row { margin-bottom: 5px }

  .airline_logo, .flight_code_and_date, .batch_edit_mark_container { display: inline-block; vertical-align: middle }
  .airline_logo { margin-right: 6px }
  .flight_code, .from_to { font-weight: bold }

  .duplicate { color: #888; }
  //.distance { text-align: right }
  //.duration { text-align: right }

  .aircraft { opacity: .8 }
}
.batch_editor {
  border: solid 1px #900;
  border-radius: 4px;
  padding: 0 0 15px 0;
  margin: 20px 0;

  .title {
    background-color: #900;
    color: white;
    font-size: 1.4em;
    font-weight: bold;
    padding: .2em;
    margin-bottom: 8px;
  }
  p { padding: .5em 1em }
}
.flight-buttons { padding: 8px 0 }
.dot-separated > span:not(:last-child):after { content: " · " }

.flight-detail {
  max-width: 500px;
  margin: 0 auto;

  .row1 { margin-bottom: 10px; }
  .row2 { background-color: #eee; border-radius: 4px; padding: 10px 0 }

  .arrive { text-align: right }
  .depart { padding-right: 0 !important }
  .arrive { padding-left: 0 !important }

  .airline_logo { text-align: center }
  .airline_name { font-size: 1.2em; }
  .flight-icon { text-align: center; font-size: 1.7em; }
  .flight_code { line-height: 1 }

  .depart_airport, .arrive_airport { font-size: 2.3em; padding: 0; line-height: 1.3 }
  .depart_city, .arrive_city { text-transform: uppercase; padding: 0; line-height: 1 }
  .depart_time, .arrive_time { font-size: 1.2em; font-weight: bold }

  .details {
    margin-top: 1em;
    label { font-weight: bold; text-transform: uppercase; line-height: 1; }
  }
}

.control-links { margin-top: 20px }

.arrival_offset { vertical-align: super; font-size: .8em; color: blue }
.time_change { margin-left: .5em; color: #900; }

.flight-list {
  .flight {
    padding: .5em 0;
    border-bottom: solid 1px #ccc;
    width: 600px;

    .col1, .col2, .col3 { display: inline-block; vertical-align: top }
    .col1 { width: 150px }
    .col2 { width: 350px }

    .fa-plane { font-size: .8em }

    .flight_code { font-size: 1.3em; }
    .airline_logo { display: inline-block; margin-right: .8em; }
    .flight_code_and_date { display: inline-block }
    .depart_date { font-size: 1.1em; }
    .departure, .arrival {
      & > img { display: inline-block }
      & > * { vertical-align: middle }
    }
    .depart_airport, .arrive_airport {
      font-size: 1.1em;
    }
    .cities { margin-right: 5px; font-size: 1.3em; }
    .airports { margin-left: 5px; opacity: .9; }
    .seat_class {
      border-radius: 3px;
      padding: .1em .2em;
      font-weight: lighter;
      color: white;
      display: inline-block;

      &.economy     { background-color: #247932; }
      &.economyplus { background-color: #0b3897; }
      &.business    { background-color: #c48b26; }
      &.first       { background-color: #420906; }
      &.suites      { background-color: #420906; }
    }
    .times { font-weight: bold; font-size: 1.1em; }
    .duration { margin-left: .5em; opacity: .9; }
    .airline_and_aircraft { opacity: .9 }
    .seat { margin-top: .3em }
  }
}

.tiny-flights {
  .flight {
    width: 150px;
    border: solid 1px #bbb;
    border-radius: 4x;
    display: inline-block;
    margin: 0 4px 10px 0;

    /* title bar effectively */
    .from_to { background-color: #bbb; text-align: center; font-weight: bold; font-size: 1.1em }

    .airline_logo { display: inline-block; margin: 0 5px; vertical-align: middle; }
    .flight_code { font-weight: bold }
    .flight_code_and_date { display: inline-block; vertical-align: middle; line-height: 1.2 }

    .misc_description { opacity: .9; font-size: .9em; }
    .time_change { font-size: .8em }

    .row1, .row2 { text-align: center }
    .row1 { padding: 4px }
    .row2 { margin: 0 4px 4px 4px; }
    .row2 > div { line-height: 1.4 }
  }
}

@media (max-width: 767px) {
  .flight-list {
    .flight {
      .airline_logo { max-width: 24px; }
      .col1, .col2, .col3 { display: block; width: 100% }
      .col3 > * { display: inline-block }
      .flight_code_and_date > div { display: inline-block; }
      .flight_code { width: 8em }
    }
  }
}
