footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 50px;
  background-color: #E2E2E2;
  .links {
    margin-top: 15px;
    span { display: inline-block; margin-right: 15px }
  }
}
