/* Since the navbar is stuck, need to pad the body */
body { padding: 50px 0 }

main { padding-top: 20px }

/* Animate transitions on links */
a { transition: color .2s, background-color .2s; }

/* Show a cursor for items that have a click URL */
[data-click-url] { cursor: pointer }

/* Standard class for truncating overflowing text */
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.centered { text-align: center }
