
/* Animate transitions on links */
a { transition: color .2s, background-color .2s; }

/* Show a cursor for items that have a click URL */
[data-click-url] { cursor: pointer }

/* Standard class for truncating overflowing text */
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.centered { text-align: center }

ul.form-errors {
  li { list-style-type: none }
}

p { padding: 15px; margin-top: .5em; }

/* Side notes for calling out things
-------------------------------------------------- */
.callout {
  padding: 15px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;

  h4 { margin-top:0; margin-bottom: 5px }
  p:last-child { margin-bottom: 0 }
  code { border-radius: 3px }
  &+.callout { margin-top: -5px }

  &.callout-danger {
    h4 { color: #d9534f }
    border-left-color: #d9534f
  }

  &.callout-warning {
    border-left-color: #f0ad4e;
    h4 { color: #f0ad4e }
  }

  &.callout-info {
    border-left-color: #5bc0de;
    h4 { color:#5bc0de }
  }
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small,
.h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small {
  white-space: nowrap;
}
