// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.navbar-brand {
  i.fa {
    font-size: 1.2em;
    text-shadow: 0 1px 3px rgba(0,0,0,0.25);
    vertical-align: middle;
    margin-right: .3em;
  }
}

