.btn.social {
  color: white;
  margin-right: 4px;
  margin-bottom: 4px;

  &.facebook { background-color: rgb(58,77,147); }
  &.google { background-color: #CC3820; }
}

.panel-body.socials {
  border-bottom: solid 1px #eee;
}

.input-group-addon i.fa {
  min-width: 12px;
}
