.btn.btn-provider-facebook {
  color: white;
  background-color: rgb(58,77,147);
}

.btn.btn-provider-google {
  color: white;
  background-color: #CC3820;
}


.signup .panel-body.socials {
  border-bottom: solid 1px #eee;
}
