table.stats {
  td { padding: .1em .2em }
  td.number { text-align: right }
  &.airports {
    .airport { font-weight: bold }
  }
  &.airlines {
    .iata_code { font-weight: bold }
  }
}
#map-canvas { width: 100%; height: 500px; border: solid 2px #d0d4d9 }
/* Fix bootstrap interference */
#map-canvas img { max-width: none; }

.big-stats {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

#top-stats > div[class^="col-"] { padding: 0 10px; margin: 10px 0 }

.big-stat {
  border: solid 1px #d0d4d9;
  text-align: center;
  .descriptor { color: white }
  &.flights .descriptor   { background-color: #D93446 }
  &.countries .descriptor { background-color: #027072 }
  &.airports .descriptor  { background-color: #732336 }
  &.airlines .descriptor  { background-color: #BE4800 }
  &.distance .descriptor  { background-color: #722C02 }
  &.duration .descriptor  { background-color: #7F0F5D }

  .number {
    background-color: #fff;
    line-height: 2em;
    text-align: center;
    font-size: 1.6em;
  }
  .descriptor {
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

@media (max-width: 767px) {
  #map-canvas { height: 200px; }
  #top-stats > div[class^="col-"] { padding: 0 5px; margin: 5px 0 }
  .big-stat .number { font-size: 1.4em; }
}
