table.stats {
  td { padding: .1em .2em }
  td.number { text-align: right; min-width: 3em; }
  &.airports {
    .airport { font-weight: bold }
  }
  &.airlines {
    .iata_code { font-weight: bold }
  }
}
#map-canvas { width: 100%; height: 100%; border: solid 1px #d0d4d9 }
/* Fix bootstrap interference */
#map-canvas img { max-width: none; }

#top-stats > div[class^="col-"] { padding: 0 10px; margin: 10px 0 }

.row.stats { padding-bottom: 10px }
.row.stats.vertical > div { height: 300px; }
.row.stats.horizontal #map-canvas { height: 500px; margin-top: 10px; }

.stats.vertical .big-stats.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .big-stat {
    overflow: hidden;
    .arrowbox { height: 40px; width: 40px; float: left; margin-left: 7.3em; transform: rotate(45deg); }
    .number { padding-right: .5em; text-align: right; }
    .descriptor {
      position: absolute;
      height: 100%;
      float: left;
      width: 9em;
      top: 0; left: 0;
      div { position: relative; top: 50%; transform: translateY(-50%); }
    }
  }
}

.stats.horizontal .big-stats.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  .big-stat {
    min-width: 10em;
    .descriptor { padding: 0 1em; }
  }
}

.big-stat {
  border: solid 1px #d0d4d9;
  text-align: center;
  position: relative;

  &.flights   { .descriptor, .arrowbox { background-color: #D93446 } }
  &.countries { .descriptor, .arrowbox { background-color: #027072 } }
  &.airports  { .descriptor, .arrowbox { background-color: #732336 } }
  &.airlines  { .descriptor, .arrowbox { background-color: #BE4800 } }
  &.distance  { .descriptor, .arrowbox { background-color: #722C02 } }
  &.duration  { .descriptor, .arrowbox { background-color: #7F0F5D } }
  &.trips     { .descriptor, .arrowbox { background-color: #213E66 } }

  .number {
    line-height: 1.7em;
    font-size: 1.6em;
  }
  .descriptor {
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

@media (max-width: 767px) {
  #map-canvas { height: 200px; }
  .row.stats > div { padding: 0 5px; margin: 5px 0 }
  .row.stats.vertical > div { height: inherit; }
  .big-stat .number { font-size: 1.4em; }
}
