.trip-list {
  .trip {
    padding: 5px 2px;
    h2 { margin-top: 5px }
  }
}

.trip-heading {
  h1 { margin: 0 }
  h1 small { margin-left: 1em }
  margin-bottom: 20px;
}
.trip-name {
  .dates { font-size: .5em; margin-top: .2em; opacity: .8; }
}

.trip-flights { margin-top: 10px; padding-top: 10px; }

.control-buttons {
  text-align: right;
  .btn { margin-right: 3px }
}


.trip.private {
  background-color: #fff9ea;
}
